
.container {
  width: 1440px;
  padding: 0 80px;

  .content-wrapper{
    width: 100%;
    padding-top: 24px;
  }

  .top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .down-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;

    .filter-container{
      width: 224px;
    }
   
  }
}
